<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AKSAYA / Yoga - Studio</title>

  <meta name="description"
    content="Descubre nuestras clases de yoga para todos los niveles. Encuentra paz y equilibrio a través de la práctica del yoga.">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="Clases de Yoga: Encuentra tu Paz Interior">
  <meta property="og:description"
    content="Descubre nuestras clases de yoga para todos los niveles. Encuentra paz y equilibrio a través de la práctica del yoga.">
  <meta property="og:image" content="URL_de_la_imagen_relacionada_con_yoga.jpg">
  <meta name="keywords" content="yoga, clases de yoga, paz interior, bienestar, salud, meditación">
  <meta name="author" content="Nombre del Instructor de Yoga">
  <meta name="geo.region" content="CL-RM">
  <meta name="geo.placename" content="Santiago">




  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tenor+Sans&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/heroes/hero-1/assets/css/hero-1.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="black">
  <header>
    <nav class="navbar navbar-expand-lg  nav-fondo px-4">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img class="img-responsive" src="../assets/images/aksaya_logotipo.png" alt="logotipo" width="229" height="71">
        </a>
        <button class="navbar-toggler border-light bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active link-activo" href="#">Sobre mi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./cronograma.html">Cronograma</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./clases.html">Clases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./agenda.html">Agenda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contacto.html">Contacto</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle disabled link-disabled" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Idioma
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Español</a></li>
                <li><a class="dropdown-item" href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <button class="btn boton-call" type="submit">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </nav>

  </header>
  <main class="fondo-textos px-4 px-sm-5 espacio-texto-crono">
    <section class="container fondo-textos pb-5 justify-content-sm-between d-sm-flex  row-cols-lg-3 py-5 ">
      <h2 class="titulos mb-4 pt-5 col-sm-3">El Vinyasa Yoga</h2>
      <p class="textos col-sm-8 col-lg-8 mt-sm-5 text-md-end text-lg-start">
        Es un estilo dinámico y expresivo que ha ganado popularidad por su enfoque fluido y armonioso en la práctica del
        yoga. Se distingue por la transición suave y continua entre las posturas, coordinando cada movimiento con la
        respiración. <br>
        Esta fluidez crea un vínculo profundo entre la mente y el cuerpo, fomentando una experiencia de
        meditación en movimiento. Los practicantes de Vinyasa experimentan una secuencia constante de posturas que
        desafían y fortalecen, mientras se sumergen en un estado de concentración y conciencia presente.
        <br><br><br>
        Una característica distintiva del Vinyasa Yoga es su adaptabilidad. Las clases pueden variar en intensidad y
        velocidad, lo que permite a los participantes personalizar su práctica según sus necesidades y habilidades. Este
        enfoque versátil hace que el Vinyasa sea accesible para principiantes y desafiante para aquellos con más
        experiencia en yoga. La sincronización de la respiración y el movimiento no solo mejora la flexibilidad y la
        fuerza física, sino que también nutre la conexión espiritual y emocional, proporcionando una experiencia
        holística de bienestar.
        <br><br><br>Además de sus beneficios físicos, el Vinyasa Yoga promueve la conciencia del momento presente. La
        atención plena
        cultivada durante la práctica se extiende más allá de la esterilla, influyendo positivamente en la vida diaria.
        Al sumergirse en este estilo de yoga, los practicantes no solo experimentan mejoras en la salud física, sino que
        también encuentran una herramienta eficaz para gestionar el estrés y mantener un equilibrio mental y emocional.
        Con su enfoque dinámico y rejuvenecedor, el Vinyasa Yoga se ha convertido en una opción apreciada por aquellos
        que buscan una experiencia integral de bienestar.
      </p>


    </section>

  </main>
  <main>
    <section class="container-fluid px-0 ">
      <img class=" img-fluid paralax" src="../assets/images/image2.jpg" alt="imagen de postura de yoga">

    </section>
    <section class=" mt-0 text-center pt-5 px-4 container-fluid fondo-textos pb-5 ">
      <div class="row justify-content-center align-items-center">
        <div class="col-11 col-md-8 col-lg-6">
          <h2 class="titulos ">¿Que es yoga para ti?</h2>
          <p class="textos ">
            Para muchas personas, el yoga no es solo una forma de ejercicio, sino también una herramienta para el
            autoconocimiento, la gestión del estrés y la mejora del bienestar general. Las prácticas de yoga pueden
            variar
            considerablemente, desde estilos más físicos y enérgicos como el Vinyasa o el Ashtanga, hasta estilos más
            suaves
            y centrados en la meditación, como el Hatha o el Yin. En última instancia, la interpretación y experiencia
            del
            yoga pueden ser personales y variar según las necesidades y objetivos de cada individuo.
          </p>
        </div>
      </div>
    </section>
    <section class="mt-0 text-center pt-5 px-4 container-fluid fondo-textos pb-5">
      <h2 class="titulos mb-4">Sobre mi</h2>
      <div class="row justify-content-center align-items-start justify-content-sm-around d-sm-flex px-md-4 gap-1 px-2">

        <div class="mb-5 col-12 col-md-5 col-lg-4 d-lg-flex justify-content-lg-around gap-lg-4 px-lg-5">
          <img class="img-fluid parallax rounded-3 " src="../assets/images/image5.jpg" alt="">
          <p class="textos mt-4 text-start col-lg-8">
            Para muchas personas, el yoga no es solo una forma de ejercicio, sino también una herramienta para el
            autoconocimiento, la gestión del estrés y la mejora del bienestar general. Las prácticas de yoga pueden
            variar
            considerablemente, desde estilos más físicos y enérgicos como el Vinyasa o el Ashtanga, hasta estilos más
            suaves
            y centrados en la meditación, como el Hatha o el Yin. En última instancia, la interpretación y experiencia
            del
            yoga pueden ser personales y variar según las necesidades y objetivos de cada individuo.
          </p>
        </div>

        <div class="borde-card mb-5 col-10 col-md-5 col-lg-3 d-flex flex-column p-3">
          <img class="card-img-top parallax rounded-3" src="../assets/images/image4.jpg"
            alt="posicion de yoga para meditar">
          <h5 class="fw-bold mt-3 text-start">El yoga no es solo una forma de ejercicio</h5>
          <p class="textos mt-4 text-start">
            Para muchas personas, el yoga no es solo una forma de ejercicio, sino también una herramienta para el
            autoconocimiento, la gestión del estrés y la mejora del bienestar general.
          </p>
          <button class="btn boton-go align-self-end" type="submit">Leer más</button>
        </div>

      </div>
    </section>

   


  </main>

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>


</body>

</html>