<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AKSAYA / Yoga - Studio</title>

  <meta name="description"
    content="Descubre nuestras clases de yoga para todos los niveles. Encuentra paz y equilibrio a través de la práctica del yoga.">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="Clases de Yoga: Encuentra tu Paz Interior">
  <meta property="og:description"
    content="Descubre nuestras clases de yoga para todos los niveles. Encuentra paz y equilibrio a través de la práctica del yoga.">
  <meta property="og:image" content="URL_de_la_imagen_relacionada_con_yoga.jpg">
  <meta name="keywords" content="yoga, clases de yoga, paz interior, bienestar, salud, meditación">
  <meta name="author" content="Nombre del Instructor de Yoga">
  <meta name="geo.region" content="CL-RM">
  <meta name="geo.placename" content="Santiago">




  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tenor+Sans&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/heroes/hero-1/assets/css/hero-1.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="white">
  <header>
    <nav class="navbar navbar-expand-lg  nav-fondo px-4">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img class="img-responsive" src="../assets/images/aksaya_logotipo.png" alt="logotipo" width="229" height="71">
        </a>
        <button class="navbar-toggler border-light bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="./about-me.html">Sobre mi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="./cronograma.html">Cronograma</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="./clases.html">Clases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active link-activo" href="#">Agenda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contacto.html">Contacto</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle disabled link-disabled" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Idioma
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Español</a></li>
                <li><a class="dropdown-item" href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <button class="btn boton-call" type="submit">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </nav>

  </header>
  <main class="fondo-textos px-4 px-sm-5 ">
    <section class="container-fluid mt-0 text-center  px-5  fondo-textos pb-5 espacio4">

      <div class=" row px-4 justify-content-center align-items-start justify-content-between d-sm-flex ">



        <div class="card align-items-stretch  mb-5 col-12 col-md-12 col-lg-12 justify-content-lg-around  px-lg-2">
          <div class="card-header ps-0">
            <h1 class="titulos mb-0 text-start">Agenda</h1>
          </div>
          <div class="card-body col-md-6 col-lg-4">
            <p class="textos mt-4 text-start ">
              Explora la calma interior y la fuerza física con nuestras clases de yoga para todos los niveles. Encuentra
              tu equilibrio cuerpo-mente hoy mismo.

            </p>



          </div>
          <div class="card-body">
            <div class="borde-card row align-items-center justify-content-between py-4 px-4 mb-4">
              <div class="col-12 col-md-6 mb-3 mb-md-0">
                <img class="card-img-top parallax rounded-3 w-100" src="../assets/images/image4.jpg" alt="posicion de yoga para meditar">
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex justify-content-start">
                  <div class="flex-column text-center">
                    <p class="date">SAB.</p>
                    <h2 class="m-0 p-0 fw-light">25</h2>
                    <p class="date">Feb.</p>
                  </div>
                  <div class="flex-column text-center d-flex">
                    <h2 class="mt-3 mx-3">-</h2>
                  </div>
                  <div class="flex-column text-center">
                    <p class="date">DOM.</p>
                    <h2 class="m-0 p-0 fw-light">26</h2>
                    <p class="date">Feb.</p>
                  </div>
                </div>
                <p class="fw-semibold mt-2 mb-0 text-start">Yoga Workshop - Santiago de Chile</p>
                <p class="date mt-0 text-start">con Gilsa C.</p>
                <p class="textos my-0 text-start">09:00 - 14:00 hrs (26)<br>Avenida Clemente Fabres 805</p>
                <p class="date mt-0 text-start">Organizador BKTI Gym</p>
                <p class="date text-start">2024</p>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="borde-card row align-items-center justify-content-between py-4 px-4 mb-4">
              
              <div class="col-12 col-md-6">
                <div class="d-flex justify-content-start">
                  <div class="flex-column text-center">
                    <p class="date">SAB.</p>
                    <h2 class="m-0 p-0 fw-light">25</h2>
                    <p class="date">Feb.</p>
                  </div>
                  <div class="flex-column text-center d-flex">
                    <h2 class="mt-3 mx-3">-</h2>
                  </div>
                  <div class="flex-column text-center">
                    <p class="date">DOM.</p>
                    <h2 class="m-0 p-0 fw-light">26</h2>
                    <p class="date">Feb.</p>
                  </div>
                </div>
                <p class="fw-semibold mt-2 mb-0 text-start">Yoga Workshop - Santiago de Chile</p>
                <p class="date mt-0 text-start">con Gilsa C.</p>
                <p class="textos my-0 text-start">09:00 - 14:00 hrs (26)<br>Avenida Clemente Fabres 805</p>
                <p class="date mt-0 text-start">Organizador BKTI Gym</p>
                <p class="date text-start">2024</p>
              </div>
              <div class="col-12 col-md-6 mb-3 mb-md-0">
                <img class="card-img-top parallax rounded-3 w-100" src="../assets/images/image4.jpg" alt="posicion de yoga para meditar">
              </div>
            </div>
          </div>
          
        </div>


      </div>
    </section>

  </main>
 

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>


</body>

</html>