<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YOGA Producto</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tenor+Sans&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
  <header class="cabecera">
    <h3>LOGO Principal</h3>
    <nav>

      <ul class="menu">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./about-me.html">AboutMe</a></li>
        <li><a href="./cronograma.html">Cronograma</a></li>
        <li><a href="#">Clases</a></li>
        <li><a href="./formaciones.html">Formaciones</a></li>
        <li><a href="./agenda.html">Agenda</a></li>
        <li><a href="./contacto.html">Contacto</a></li>

      </ul>

    </nav>

    <h4>ES / EN</h4>
    <a href=>Inicio de Sesión</a>
  </header>

  <main>
    <section class="clases">
      <h2>Titulo principal</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores perferendis id ducimus excepturi ea facere quam repellendus, distinctio ipsum. Nemo, obcaecati doloremque enim magni adipisci quaerat accusamus delectus. Accusantium, repudiandae.</p>
      <div>
        <a href="">ir</a>
        <a href="">agendar</a>

      </div>
      <div>
        <img src="" alt="">
        <h4>titulo</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quas architecto neque ducimus tempore consequuntur aliquid quibusdam, hic soluta nulla suscipit porro consequatur quaerat sequi adipisci cum voluptatibus. Tempore, est!</p>
      </div>
      <div>
        <img src="" alt="">
        <h4>titulo</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quas architecto neque ducimus tempore consequuntur aliquid quibusdam, hic soluta nulla suscipit porro consequatur quaerat sequi adipisci cum voluptatibus. Tempore, est!</p>
      </div>
      <div>
        <img src="" alt="">
        <h4>titulo</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quas architecto neque ducimus tempore consequuntur aliquid quibusdam, hic soluta nulla suscipit porro consequatur quaerat sequi adipisci cum voluptatibus. Tempore, est!</p>
      </div>
      <!-- carusel de imagenes -->
      <div>
        <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      </div>
    </section>
  </main>
  <footer>
    <div>
      <p>Todos los derechos reservados © 2019</p>
    </div>
    <div>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
      <a href="#">Twitter</a>
    </div>

  </footer>

</body>

</html>