<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AKSAYA / Yoga - Studio</title>

  <meta name="description"
    content="Descubre nuestras clases de yoga para todos los niveles. Encuentra paz y equilibrio a través de la práctica del yoga.">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="Clases de Yoga: Encuentra tu Paz Interior">
  <meta property="og:description"
    content="Descubre nuestras clases de yoga para todos los niveles. Encuentra paz y equilibrio a través de la práctica del yoga.">
  <meta property="og:image" content="URL_de_la_imagen_relacionada_con_yoga.jpg">
  <meta name="keywords" content="yoga, clases de yoga, paz interior, bienestar, salud, meditación">
  <meta name="author" content="Nombre del Instructor de Yoga">
  <meta name="geo.region" content="CL-RM">
  <meta name="geo.placename" content="Santiago">




  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tenor+Sans&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/heroes/hero-1/assets/css/hero-1.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="white">
  <header>
    <nav class="navbar navbar-expand-lg  nav-fondo px-4">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img class="img-responsive" src="../assets/images/aksaya_logotipo.png" alt="logotipo" width="229" height="71">
        </a>
        <button class="navbar-toggler border-light bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="./about-me.html">Sobre mi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="./cronograma.html">Cronograma</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./clases.html">Clases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./agenda.html">Agenda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active link-activo" href="#">Contacto</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle disabled link-disabled" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Idioma
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Español</a></li>
                <li><a class="dropdown-item" href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <button class="btn boton-call" type="submit">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </nav>

  </header>
  <main class="">
    <section class="bsb-hero-1 px-3 bsb-overlay bsb-hover-pull hero-efecto-contacto ">
      <div class="container pt-0">
        <div class="row justify-content-md-center centrado-texto-contacto text-center">
          <div class=" col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
            <img class="img-fluid" src="./assets/images/icono.png" alt="image de fondo heroe">
            <h1 class="display-4 fw-bold mb-3 titulo1">"Iniciate a profundizar en la practica del Yoga"</h1>
            <p class="mb-1 textos">Con mi agenda gratuita de 5 días, en ella encontrarás 5 vídeos con contenido teórico
              y práctico con los que entenderás o profundizarás en esta práctica. Déjame tus datos aquí para poder
              enviártelo. ¡Te esperaré!</p>

          </div>
        </div>
        <div class=" justify-content-center d-flex">


          <form action="" class="d-flex flex-column  gap-4 mt-md-5 form">
            <input type="text" class="form-control" placeholder="Nombre...">
            <input type="email" class="form-control" placeholder="Email...">
            <div>
              <input type="checkbox" id="cbox2" placeholder="Email...">
              <label for="cbox2" class=" text-white">He leído y aceptado las politicas de privacidad</label>
            </div>



            <input type="submit" class="btn boton-call align-self-center textos px-5 form" value="Enviar">

          </form>
        </div>
      </div>
    </section>

  </main>
 

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>


</body>

</html>